name: Synopsys Security Testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Synopsys Action
        uses: synopsys-sig/synopsys-action@v1.9.0
        with:
          blackduck_token: MTg3OTg5NmEtZGIyOS00NmJhLWJkYmUtZWZiNmQwZTI5NzRkOjNiODFlZjg0LTJjMjEtNDFkZi05ZTRhLTIzZjQzN2I3NTUxNg==
          blackduck_url: us03-sup-bruckler01.nprd.sig.synopsys.com
